<h1>JEREL NAVARRETE</h1>
<div class="item item-type-line">
  <a class="item-hover">
    <div class="item-info">
      <div class="headline">Full Stack Web Developer</div>
      <div class="line"></div>
      <div class="date">I have experience with Ruby on Rails, JavaScript, jQuery, AngularJS, and HTML/CSS. My past experiences include developing full Rails apps, using a front end MVC framework, and setting up a back end API. I am always looking to learn new things and grow as a developer.</div>
    </div>
    <div class="mask"></div>
  </a>
  <div class="item-img"><%=image_tag("headshot.png", alt: "headshot", :size => "400x400")%></div>
</div>  

<div id='social-media' class='images'>
  <a href="https://twitter.com/jerelnav"><%=image_tag("twitter.png", alt: "Twitter", :size => "75x75")%></a>
  <a href="https://github.com/jereln"><%=image_tag("github.png", alt: "Github", :size => "75x75")%></a>
  <a href="https://www.linkedin.com/in/jereln"><%=image_tag("linkedin.png", alt: "LinkedIn", :size => "75x75")%></a>
</div>

