<div id="title"><h1>JEREL NAVARRETE</h1></div>
<div id='headshot' class='images'>
  <%=image_tag("headshot.png", alt: "headshot", :size => "300x300")%>
</div>
<div id='social-media' class='images'>
  <a href="https://twitter.com/jerelnav"><%=image_tag("twitter.png", alt: "Twitter", :size => "100x100")%></a>
  <a href="https://github.com/jereln"><%=image_tag("github.png", alt: "Github", :size => "100x100")%></a>
  <a href="https://www.linkedin.com/in/jereln"><%=image_tag("linkedin.png", alt: "LinkedIn", :size => "100x100")%></a>
</div>
